# Module 3 Section 1: List Iteration

# For/In

# Task 1

In [7]:
# Iterate through Lists using in
# [ ] create a list of 4 to 6 strings: birds
# print each bird in the list

birds = ["Sparrow", "Crow", "Pigeon", "Owl", "Penguin"]
for bird in birds:
    print(bird)

Sparrow
Crow
Pigeon
Owl
Penguin

In [2]:
# [ ]  create a list of 7 integers: player_points
# [ ] print double the points for each point value

player_points = [56, 90, 67, 54, 23, 33, 12]
for point in player_points:
    point = point*2
    print(point)

112
180
134
108
46
66
24

In [7]:
# [ ] create long_string by concatenating the items in the "birds" list previously created
# print long_string - make sure to put a space betweeen the bird names

birds = ["Sparrow", "Crow", "Pigeon", "Owl", "Penguin"]
long_string = ""
for bird in birds:
    long_string += bird + " "
print(long_string)

Sparrow Crow Pigeon Owl Penguin

#  Sort and Filter

# Task 2

In [2]:
# Task 2
# sort and filter
# [ ] Using cities from the example above iterate throught the list using "for"/"in"
# [ ] Print only cities starting with "m"

cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "S達o Paulo", "Hyderabad"]
for city in cities:
    if city[0].lower() == "m":
        print(city)

Munich
Mexico City

In [26]:
# Using cities, from the example in previous page. iterate through the list using "for"/"in"
# cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "S達o Paulo", "Hyderabad"]
# sort into lists with "A" in the city name and without "A" in the name: a_city & no_a_city


cities = ["New York", "Shanghai", "Munich", "Tokyo", "Dubai", "Mexico City", "S達o Paulo", "Hyderabad"]
a_city = ""
no_a_city = ""
for city in cities:
    if city.find("a") != -1:
        a_city = a_city + city + " "
    

    else:
        no_a_city += city + " "

print("A Cities:")
print(a_city ,"\n")
print("No A Cities:")
print(no_a_city)

A Cities:
Shanghai Dubai S達o Paulo Hyderabad

No A Cities:
New York Munich Tokyo Mexico City

# Count and Search

# Task 3

In [2]:
# Program: Paint Stock
# check a list for a paint color request and print status of color "found"/"not found"
# create list, paint_colors, with 5+ colors
# get user input of string:color_request
# iterate through each color in paint_colors to check for a match with color_request
# [ ] complete paint stock

paint_colors = ["red", "yellow", "green", "blue", "magenta", "cyan"]
color_request = input()
for color in paint_colors:
    if color_request.lower() == color.lower():
        print("Found")
        break
    else:
        print("not found")
        break

yelow
not found

# Task 4

In [35]:
# Program: Foot Bones Quiz
# Create a function that will iterate through foot_bones looking for a match of a string argument

# Call the function 2 times with the name of a footbone
# print immediate feedback for each answer (correct - incorrect)
# print the total # of foot_bones identified
# The program will use the foot_bones list:

foot_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform",
             "intermediate cuneiform", "medial cuneiform"]

def footBone(a):
    total = 0
    for i in range(2):
        a = input("Enter argument: ")
        if a in foot_bones:
            total = foot_bones.count(a)
            print(a, " is correct"," Total found are ", total,"\n")
            foot_bones.remove(a)
            print("Updated:", foot_bones, "\n")
            
            
            
            break
        else:
            print(a, " is Incorrect")
            break
            

footBone("cuboid")   
footBone("taluss")

Enter argument: talus
talus  is correct  Total found are  1

Updated: ['calcaneus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

Enter argument: talus
talus  is Incorrect

# Module 3 Section 2: Range Iteration

# range(stop)

In [40]:
digits = range(10)
print("digits =", list(digits), "\n")

for count in digits:
    print(count)
a = ""
a = list(a)
print(a)

digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

0
1
2
3
4
5
6
7
8
9

# Task 1

In [47]:
# range(stop)
# [ ] for x = 6, use range(x) to print the numbers 1 through 6
x = 6
for num in range(x):
    print(num)

0
1
2
3
4
5

In [1]:
# [ ] using range(x) multiply the numbers 1 through 7
# 1x2x3x4x5x6x7 = 5040

multiplication = 1
for number in range(1,8):
    multiplication *= number
    

print(multiplication)

1
2
3
4
5
6
7
5040

In [76]:
# Use range(stop) to print the second half of spell_list below

# [ ] print the second half of a spelling list using a range(stop) loop to iterate the list

spell_list = ["Wednesday", "Tuesday", "February", "November", "Annual", "Calendar", "Solstice"]

half_1 = int(len(spell_list)/2)
print(half)
for i in range(half,len(spell_list)):
    print(spell_list[i])

3
November
Annual
Calendar
Solstice

# range(start,stop)

# Task 2

In [28]:
# range(start,stop)
# [ ] using range(start,stop), .append() the numbers 5 to 15 to the list: five_fifteen
# [ ] print list five_fifteenz

five_fifteen = []
print("Before:", five_fifteen, "\n")
for i in range(5,16):
    five_fifteen.append(i)  
    
print("After:", five_fifteen)

Before: []

After: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [22]:
# [ ] using range(start,stop) - print the 3rd, 4th and 5th words in spell_list
# output should include "February", "November", "Annual"

spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
for i in range(2,5):
    print(spell_list[i])

February
November
Annual

In [26]:
# [ ] using code find the index of "Annual" in spell_list
# [ ] using range, print the spell_list including "Annual" to end of list

spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
start = spell_list.index("Annual")
end = int(len(spell_list)) 
for i in range(start,end):
    print(spell_list[i])

Annual
Calendar
Solstice

In [30]:
for count in range(10,101,10):
  print(count)

10
20
30
40
50
60
70
80
90
100

# Task 3

In [1]:
# [ ] print numbers 10 to 20 by 2's using range
for count in range(10,21,2):
    print(count)

10
12
14
16
18
20

In [2]:
# [ ] print numbers 20 to 10 using range (need to countdown)
# Hint: start at 20
for rev_count in range(20,10,2):
    print(rev_count)

In [5]:
# [ ] print first and every third word in spell_list
spell_list = ["Tuesday", "Wednesday", "February", "November", "Annual", "Calendar", "Solstice"]
for i in range(0,len(spell_list),3):
    print(spell_list[i])

Tuesday
November
Solstice

# Task 4

In [18]:
# Program: List of letters
# Input a word string (word)
# find the string length of word
# use range() to iterate through each letter in word (can use to range loops)
# Save odd and even letters from the word as lists
# odd_letters: starting at index 0,2,...
# even_letters: starting at index 1,3,...
# print odd and even lists
# [ ] complete List of letters program- test with the word "complexity"

word = input()
odd_letters = ""
even_letters = ""

for i in range(0,len(word),2):
    odd_letters = word[i]
    print("Odd Letters: ",odd_letters) 
    
    

for i in range(1,len(word),2):
    even_letters = word[i]
    print("Even Letters: ", even_letters)

complexity
Odd Letters:  c
Odd Letters:  m
Odd Letters:  l
Odd Letters:  x
Odd Letters:  t
Even Letters:  o
Even Letters:  p
Even Letters:  e
Even Letters:  i
Even Letters:  y

# Module 3 Section 3: extend, reverse, sort methods

# .extend() method

In [20]:
# [ ] review and run example
team_a = [0,2,2,2,4,4,4,5,6,6,6]
team_b = [0,0,0,1,1,2,3,3,3,6,8]
print("Team A:", team_a, "\nTeam B:",team_b)

# (+) Addition operator 
team_totals = team_a + team_b
print("Team Totals", team_totals)

Team A: [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6]
Team B: [0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]
Team Totals [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]

In [30]:
team_a.extend(team_b)
print("Team_a extended", team_a)

Team_a extended [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]

In [31]:
# what happens if you keep running this cell?

# Answer: It will keep on entending the list whenever I run the cell

# Task 1

In [1]:
# [ ] extend the list common_birds with list birds_seen which you must create
common_birds = ["chicken", "blue jay", "crow", "pigeon"]
birds_seen = ["Owl", "Seagull", "Sparrow"]
a = len(common_birds)
print("Length Before: ", a)
common_birds.extend(birds_seen)
print(common_birds)
len = len(common_birds)
print("Length After: ", len)

Length Before:  4
['chicken', 'blue jay', 'crow', 'pigeon', 'Owl', 'Seagull', 'Sparrow']
Length After:  7

In [5]:
# [ ] Create 2 lists zero_nine and ten_onehundred that contain 1-9, and 10 - 100 by 10's.
# [ ] use list addition to concatenate the lists into all_num and print
zero_nine = []
ten_onehundred = []
for i in range(0,10):
    zero_nine.append(i)
for b in range(10,101,10):
    ten_onehundred.append(b)
    
all_num = zero_nine + ten_onehundred
print(all_num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# .reverse() method

In [1]:
all_num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print("regular list",all_num, "\n")
all_num.reverse()
print("reverse list",all_num, "\n")
num_len = len(all_num)

print("Three Multiple")
for num in all_num:
    if num/3 == int(num/3):
        print(num)
    else:
        pass

regular list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

reverse list [100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Three Multiple
90
60
30
9
6
3
0

In [2]:
# [ ] review and run example
# create a list of  numbers by casting a range 
count_list = list(range(21))
print("before list", count_list)

# and reverse
count_list.reverse()
print("after list", count_list)

before list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
after list [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# Task 2

In [21]:
# [ ] create and  print a list of multiples of 5 from 5 to 100
# { ] reverse the list and print

list = []

for i in range(5,101,5):
    z = i*i
    print(z)
    list.append(z)
print("\n")

list.reverse()
print(list)

25
100
225
400
625
900
1225
1600
2025
2500
3025
3600
4225
4900
5625
6400
7225
8100
9025
10000


[10000, 9025, 8100, 7225, 6400, 5625, 4900, 4225, 3600, 3025, 2500, 2025, 1600, 1225, 900, 625, 400, 225, 100, 25]

In [40]:
# [ ] Create two lists: fours & more_fours containing multiples of four from 4 to 44
# [ ] combine and print so that the output is mirrored [44, 40,...8, 4, 4, 8, ...40, 44]

fours = []
more_fours = []
for i in range(4,45,4):
    fours.append(i)
    more_fours = fours
print(fours)
more_fours.reverse()
print(more_fours)

final = fours + more_fours 
print(final)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44]
[44, 40, 36, 32, 28, 24, 20, 16, 12, 8, 4]
[44, 40, 36, 32, 24, 20, 16, 12, 8, 4, 44, 40, 36, 32, 24, 20, 16, 12, 8, 4]

In [10]:
# [ ] Create two lists: fours & more_fours containing multiples of four from 4 to 44
# [ ] combine and print so that the output is mirrored [44, 40,...8, 4, 4, 8, ...40, 44]

fours = list(range(4, 45, 4))
more_fours = list(range(4, 45, 4))
fours.reverse()
print("Before: ")
print(fours)
print(more_fours, "\n")
print("After: ")
final_list = fours + more_fours
print(final_list)

Before:
[44, 40, 36, 32, 28, 24, 20, 16, 12, 8, 4]
[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44]

After:
[44, 40, 36, 32, 28, 24, 20, 16, 12, 8, 4, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44]

# .sort() method & sorted()

# Task 3

In [11]:
# [ ] print cites from visited_cities list in alphbetical order using .sort()
# [ ] only print cities that names start "Q" or earlier

visited_cities = ["R","New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "S達o Paulo", "Hyderabad"]
visited_cities.sort()
for i in visited_cities:
    if i[0].upper() <= "Q":
        print(i)
    else:
        pass

Dubai
Hyderabad
Mexico City
Munich
New York

In [4]:
# [ ] make a sorted copy (sorted_cities) of visited_cities list
# [ ] remove city names 5 characters or less from sorted_cities 
# [ ] print visitied cites and sorted cities
visited_cities = ["New York", "Shanghai", "Munich", "Toyko", "Dubai", "Mexico City", "S達o Paulo", "Hyderabad"]
sorted_cities = sorted(visited_cities)

for i in sorted_cities:
    length = len(i)    
    if length <= 5:
        sorted_cities.remove(i)
    else:
        pass
    
print(sorted_cities)

['Hyderabad', 'Mexico City', 'Munich', 'New York', 'Shanghai', 'S達o Paulo']

# Task 4

In [1]:
# Program: Merge & Sort Animals
# Create a program that

# takes user to build a list: add_animals
# merges add_animals with existing list: animals
# provides a sorted list to view in alpha or reverse alpha order
# step 1 get user input to build add_animals list

animals = ["Chimpanzee", "Panther", "Wolf", "Armadillo"]

# [ ] build a list (add_animals) using a while loop, stop adding when an empty string is entered
add_animals = []
animal = input("Enter an animal:")
add_animals.insert(0,animal) 
while animal:
    animal = input("Enter an animal:")
    add_animals.insert(0,animal) 
    print(add_animals)
add_animals.remove("")

Enter an animal:Elephant
Enter an animal:Tiger
['Tiger', 'Elephant']
Enter an animal:Panda
['Panda', 'Tiger', 'Elephant']
Enter an animal:Zebra
['Zebra', 'Panda', 'Tiger', 'Elephant']
Enter an animal:
['', 'Zebra', 'Panda', 'Tiger', 'Elephant']

# Task 1

In [5]:
# using .split()
# [ ] split the string(rhyme) into a list of words (rhyme_words)
# [ ] print each word on it's own line
rhyme = 'Jack and Jill went up the hill To fetch a pail of water'
rhyme_words = rhyme.split()

for word in rhyme_words:
    print(word)

Jack
and
Jill
went
up
the
hill
To
fetch
a
pail
of
water

In [6]:
# [ ] split code_tip into a list and print the first and every other word
code_tip = "Python uses spaces for indentation"
code = code_tip.split()
print(code[::2])

['Python', 'spaces', 'indentation']

# set split character

In [8]:
big_quote = """Jack and Jill went up the hill
To fetch a pail of water
Jack fell down and broke his crown
And Jill came tumbling after"""
# split on line breaks (\n)
quote_lines = big_quote.split('\n')
print(quote_lines, '\n')

# print the list in reverse with index slicing
for line in quote_lines[::-1]:
    print(line)

['Jack and Jill went up the hill', 'To fetch a pail of water', 'Jack fell down and broke his crown', 'And Jill came tumbling after']

And Jill came tumbling after
Jack fell down and broke his crown
To fetch a pail of water
Jack and Jill went up the hill

# Task 2

In [13]:
# [ ] split poem into a list of phrases by splitting on "*" a
# [ ] print each phrase on a new line in title case
poem = "Write code frequently*Save code frequently*Comment code frequently*Study code frequently*"
a = poem.split('*')
for i in a:
    print(i.title())

Write Code Frequently
Save Code Frequently
Comment Code Frequently
Study Code Frequently

# .join() method

In [15]:
# join tip_words objects with spaces
tip_words = ['Notebooks', 'can', 'be', 'exported', 'as', '.pdf'] 
print(" ".join(tip_words))

Notebooks can be exported as .pdf

In [16]:
# [ ] review and run example
no_space = ""
letters = ["P", "y", "t", "h", "o", "n"]
print(no_space.join(letters))

Python

# Task 3

In [21]:
# .join()
# [ ] .join() letters list objects with an Asterisk: "*"

letters = ["A", "s", "t", "e", "r", "i", "s", "k"]
print("*".join(letters))

A*s*t*e*r*i*s*k

# Task 4

In [25]:
# Program: Choose the separator
# get user input on what to use to join words (" ", *, -, etc...) - store in variable: separator
# join pharse_words with the separator and print
# [ ] complete Choose the separator
phrase_words = ['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill', 'To', 'fetch', 'a', 'pail', 'of', 'water']
separator = input("Enter your choice of Seperator: ' ' or '*' or '...' etc")
print(separator.join(phrase_words))

Enter your choice of Seperator: ' ' or '*' or '...' etc*
Jack*and*Jill*went*up*the*hill*To*fetch*a*pail*of*water

# Cast String to List

# Task 5

In [34]:
#end=" " #configuration in printing
print("ace", end = "- ")
print("of", end = "- ")
print("spades", end = "- ")


# [ ] use 3 print() statements to output text to one line 
# [ ] separate the lines by using "- " (dash space)

ace- of- spades-

# Task 6

In [8]:
Msg_characters = list("Always test your code")

# [ ] create a string (fact) of 20 or more characters and cast to a list (fact_letters)
# [ ] iterate fact, printing each char on one line, except for spaces print a new line

fact = list("Python does not use curly braces")
for word in fact:
    print(word, end="")
    if word == " ":
        print("\n")

Python

does

not

use

curly

braces

# Task 7

In [ ]:
# Program: add the digits
# create a 20 digit string, and cast to a list
# then add all the digits as integers
# print the equation and answer
# Hint: use cast to sum the digits, and .join() to create the equation (1+2+3+...)

# [ ] create add the digits

a = list("2987898789789898965")
b = 0
print("+".join(a))
for i in range(len(a)):
    a[i] = int(a[i])
    b = b + a[i]
    
    
print(b)

#------------END------
--------------