# Module 2 Section 1: List Sequences

In [3]:
# [ ] review and run example
# define list of strings
ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", "intermediate cuneiform", "medial cuneiform"]

# display type information
print("ft_bones: ", type(ft_bones))

# print the list
print(ft_bones)

ft_bones:  <class 'list'>
['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

In [5]:
# [ ] review and run example
# define list of integers
age_survey = [12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]

# display type information
print("age_survey: ", type(age_survey))

# print the list
print(age_survey)
# [ ] review and run example
# define list of mixed data type
mixed_list = [1, 34, 0.999, "dog", "cat", ft_bones, age_survey]

# display type information
print("mixed_list: ", type(mixed_list))

age_survey:  <class 'list'>
[12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]
mixed_list:  <class 'list'>

# Task 1

In [ ]:
## Task 1
#Create Lists
# [ ] create team_names list and populate with 3-5 team name strings

# [ ] print the list

team_names = ["Pakistan", "Inida", "Australia"]
print(team_names)

In [7]:
mix_list  = ["Paksitan", 154.27, 2, "India", 74.28, 0]
print(mix_list )

['Paksitan', 154.27, 2, 'India', 74.28, 0]

In [8]:
# [ ] review and run example
# define list of strings
ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", "intermediate cuneiform", "medial cuneiform"]

# display type information
print("ft_bones: ", type(ft_bones))

# print the list
print(ft_bones)

ft_bones:  <class 'list'>
['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

In [9]:
# [ ] review and run example
print(ft_bones[0], "is the 1st bone on the list")
print(ft_bones[2], "is the 3rd bone on the list")
print(ft_bones[-1], "is the last bone on the list")

calcaneus is the 1st bone on the list
cuboid is the 3rd bone on the list
medial cuneiform is the last bone on the list

# Task 2

In [12]:
streets = ["Street 1", "Street 2", "Street 3", "Street 4", "Street 5"]
print("There is no parking at", streets[0], "or", streets[4])

There is no parking at Street 1 or Street 5

In [16]:
num_2_add = [1, 2, 5, 25, 23]
print("The sum is:")
print(num_2_add[0] + num_2_add[1] + num_2_add[2] + num_2_add[3] + num_2_add[4])

The sum is:
56

# Task 3

In [21]:
pay_checks = ["20$", "30$", "60$", "70$", "990$", "240$", "280$", "890$"]
print(" Total of checks 3 & 4 = $", pay_checks[2], pay_checks[3])

 Total of checks 3 & 4 = $ 60$ 70$

# Module 2 Section 2: List Append

# Task 1

In [29]:
cur_names = ["USD", "PKR", "INR", "EURO"]
cur_values = [.04, .67, .455, .3345]
print(cur_values)
cur_values.append(.9878)
print(cur_values)

[0.04, 0.67, 0.455, 0.3345]
[0.04, 0.67, 0.455, 0.3345, 0.9878]

# Task 2

In [30]:
a = input("Enter a value to be appended: ")
cur_names.append(a)
print(cur_names)

Enter a value to be appended: AUSD
['USD', 'PKR', 'INR', 'EURO', 'AUSD']

# Task 3

In [ ]:
bday_survey = []
bday = input("Enter day of month you were born (1-31) or 'q' to quit...")
while bday.lower() != "q" or bday.upper() != "Q":
    
    bady = input("Enter day of month you were born (1-31) or 'q' to quit...")
    bday_survey.append(bday)
    print(bday_survey)

Enter day of month you were born (1-31) or 'q' to quit...12
Enter day of month you were born (1-31) or 'q' to quit...12
['12']
Enter day of month you were born (1-31) or 'q' to quit...12
['12', '12']
Enter day of month you were born (1-31) or 'q' to quit...12
['12', '12', '12']
Enter day of month you were born (1-31) or 'q' to quit...12
['12', '12', '12', '12']
Enter day of month you were born (1-31) or 'q' to quit...q
['12', '12', '12', '12', '12']
Enter day of month you were born (1-31) or 'q' to quit...quit
['12', '12', '12', '12', '12', '12']
Enter day of month you were born (1-31) or 'q' to quit...Q
['12', '12', '12', '12', '12', '12', '12']
Enter day of month you were born (1-31) or 'q' to quit..."Q"
['12', '12', '12', '12', '12', '12', '12', '12']
Enter day of month you were born (1-31) or 'q' to quit...q
['12', '12', '12', '12', '12', '12', '12', '12', '12']

# Task 4

In [2]:
#Fix The Error
# [ ] Fix the Error
three_numbers = [1, 1, 2]
print("an item in the list is: ", three_numbers[2])

# The error was there is no 3rd index so I changed it to 2

an item in the list is:  2

# Module 2 Section 3: List Insert

# Task 1

In [ ]:
# replace items in a list
# create a list, three_num, containing 3 single digit integers
# print three_num
# check if index 0 value is < 5
# if < 5 , replace index 0 with a string: "small"
# else, replace index 0 with a string: "large"
# print three_num
# [ ] complete "replace items in a list" task

In [6]:
three_num = [4, 7, 9]
print("Before: ", three_num, "\n")
if three_num[0] < 5:
    three_num[0] = "small"
    print("After: ", three_num)

else:
    three_num[0] = "large"
    print("After: ", three_num)

Before:  [4, 7, 9]

After:  ['small', 7, 9]

In [24]:
# Function Challenge: create replacement function
# Create a function, str_replace, that takes 2 arguments: int_list and index
# int_list is a list of single digit integers
# index is the index that will be checked - such as with int_list[index]
# Function replicates purpose of task "replace items in a list" above and replaces an integer with a string "small" or "large"
# return int_list
# Test the function!

# [ ]  create challenge function



def str_replace(int_list, index):
    if int_list[0] < 5:
        int_list[index] = "Small"
        print(int_list)
    else:
        int_list[index] = "Large"
        print(int_list)

In [25]:
str_replace([4, 8, 7, 7, 9, 7, 8], 4)

[4, 8, 7, 7, 'Small', 7, 8]

# Task 2

In [38]:
three_words = ["Pakistan", "India", "China"]

print(three_words[0].upper())
print(three_words[2].swapcase(), "\n", three_words[:])

PAKISTAN
cHINA
 ['Pakistan', 'India', 'China']

# Task 3

In [3]:
# insert() input into a list
# [ ] insert a name from user input into the party_list in the second position (index 1)


# [ ] print the updated list

party_list = ["Joana", "Alton", "Tobias"]
a = input("Enter a name : ")
party_list.insert(1,a) 
print(party_list)

Enter a name : ali
['Joana', 'ali', 'Alton', 'Tobias']

# Task 4

In [8]:
# Fix The Error
# [ ] Fix the Error
tree_list = ["oak"]
print("tree_list before =", tree_list)
tree_list.insert(1,"pine")
print("tree_list after  =", tree_list)

tree_list before = ['oak']
tree_list after  = ['oak', 'pine']

# Module 2 Section 4: List Delete

In [9]:
# [ ] review and run example
# the list before delete
sample_list = [11, 21, 13, 14, 51, 161, 117, 181]
print("sample_list before: ", sample_list)

sample_list before:  [11, 21, 13, 14, 51, 161, 117, 181]

In [21]:
del sample_list[1]
# the list after delete
print("sample_list after:  ", sample_list)

IndexError: list assignment index out of range

In [47]:
# [ ] review and run example Multiple Times
# [ ] consider how to reset the list values?
sample_list = [11, 21, 13, 14, 51, 161, 117, 181]
print("sample_list before:", sample_list)
del sample_list[2:-1]
print("sample_list after:", sample_list)

sample_list before: [11, 21, 13, 14, 51, 161, 117, 181]
sample_list after: [11, 21, 181]

In [53]:
# [ ] review and run example
# By using 'Append' method
mixed_types = [1, "cat"]
# append number
mixed_types.append(3)
print("mixed_types list: ", mixed_types)
# By using 'Insert' method
mixed_types = [1, "cat"]
mixed_types.insert(2,3)
print("By using insert: mixed_types list: ", mixed_types)

mixed_types list:  [1, 'cat', 3]
By using insert: mixed_types list:  [1, 'cat', 3]

In [54]:
# append string
mixed_types.append("turtle")
print("mixed_types list: ", mixed_types)

mixed_types list:  [1, 'cat', 3, 'turtle']

# Task 1

In [62]:
#del statement
# [ ] print ft_bones list
# [ ] delete "cuboid" from ft_bones
# [ ] reprint list
ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]

print(ft_bones)
del ft_bones[2]
print(ft_bones)

['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']
['calcaneus', 'talus', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

# Task 2

In [5]:
# multiple del statements
# [ ] print ft_bones list
# [ ] delete "cuboid" from ft_bones
# [ ] delete "navicular" from list
# [ ] reprint list
# [ ] check for deletion of "cuboid" and "navicular"
ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]

del ft_bones[2], ft_bones[3]
print(ft_bones)

['calcaneus', 'talus', 'navicular', 'intermediate cuneiform', 'medial cuneiform']

# Task 3

In [7]:
# pop()
# [ ] pop() and print the first and last items from the ft_bones list
# [ ] print the remaining list

ft_bones = ["calcaneus", "talus", "cuboid", "navicular", "lateral cuneiform", 
            "intermediate cuneiform", "medial cuneiform"]
item1 = ft_bones.pop(0)
item2 = ft_bones.pop(-1)
print(item1, "\n", item2)

calcaneus
 medial cuneiform

# Task 4 pt 1

In [ ]:

#Cash Register Input
#create a empty list purchase_amounts
#populate the list with user input for the price of items
#continue adding to list with while until "done" is entered
#can use while True: with break
#print purchase_amounts
#continue to pt 2
#[ ] complete the Register Input task above

In [11]:
purchase_amounts = []
items = ''



while True:
    items = input("Enter price of items: ")
    if items.lower() != "done":
        purchase_amounts.append(items)
        
    else:
        break
        
    
    
print(purchase_amounts)

Enter price of items: 1
Enter price of items: 1
Enter price of items: 1
Enter price of items: done
['1', '1', '1']

# Task 4 pt 2

In [12]:
subtotal = 0
while purchase_amounts:
    subtotal += float(purchase_amounts.pop())
    
    
print(subtotal)

3.0

In [27]:
dog_types = ["Poodle", "Lab", "Pug", "Poodle","Poodle","Poodle", "Pug"]

In [31]:
print(dog_types)
while "Poodle" in dog_types:
    dog_types.remove("Poodle")
    print(dog_types)

['Lab', 'Pug', 'Poodle', 'Poodle', 'Poodle', 'Pug']
['Lab', 'Pug', 'Poodle', 'Poodle', 'Pug']
['Lab', 'Pug', 'Poodle', 'Pug']
['Lab', 'Pug', 'Pug']

In [35]:
# [ ] review and run example
# Change to "Lab", etc... to fix error
dogs = ["Lab", "Pug", "Poodle", "Poodle", "Pug", "Poodle"]
dogs.remove("Lab")
print(dogs)

['Pug', 'Poodle', 'Poodle', 'Pug', 'Poodle']

In [36]:
# [ ] review and run example
# Change to "Lab", etc... to fix error
dogs.remove("Collie")
print(dogs)

ValueError: list.remove(x): x not in list

# Task 5

In [37]:

# .remove()
# [ ] remove one "Poodle" from the list: dogs , or print "no Poodle found"
# [ ] print list before and after

dogs = ["Lab", "Pug", "Poodle", "Poodle", "Pug", "Poodle"]
print("Before: ", dogs)
if "Poodle" in dogs:
    dogs.remove("Poodle")
    print(dogs)
    
else:
    prin("No poodle found")

Before:  ['Lab', 'Pug', 'Poodle', 'Poodle', 'Pug', 'Poodle']
['Lab', 'Pug', 'Poodle', 'Pug', 'Poodle']

# Module 2 : Practice

In [4]:
# [ ] create and populate list called days_of_week then print it
days_of_week = ["Monday", "Tuesday", "Wedneday", "Thursday", "Friday", "Saturday", "Sunday"]
print(days_of_week)

['Monday', 'Tuesday', 'Wedneday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [5]:
print(days_of_week[1::2])

['Tuesday', 'Thursday', 'Saturday']

In [6]:
# Create a list, phone_letters, where the index 0 - 9 contains the letters for keys 0 - 9.

# 0 = ' ' (a space)
# 1 = '' (empty)
# 2 = 'ABC'
# 3 = 'DEF'
# etc...
# [ ] create and populate list called phone_letters then print it

phone_letters = [' ', '', "ABC", "DEF", "GHI", "JKL", "MNO", "PQRS", "TUV", "WXYZ"]
print(phone_letters)

[' ', '', 'ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']

In [16]:
# [ ] create a variable: day, assign day to "Tuesday" using days_of_week[]
# [ ] print day variable

days_of_week = ["Monday", "Tuesday", "Wedneday", "Thursday", "Friday", "Saturday", "Sunday"]
day = ""
day = days_of_week[1] 
print(day)

Tuesday

In [17]:
# PART 2
# [ ] assign day to days_of_week index = 5
# [ ] print day

days_of_week[5] = day
print(days_of_week[5])
print(days_of_week)

Tuesday
['Monday', 'Tuesday', 'Wedneday', 'Thursday', 'Friday', 'Tuesday', 'Sunday']

In [9]:
days_of_week = ["Monday", "Tuesday", "Wedneday", "Thursday", "Friday", "Saturday", "Sunday"]


days_of_week.append("New day of week")
print(days_of_week, "\n")

days_of_week.insert(3,"Between wed & thu")
print(days_of_week, "\n")

days_of_week.insert(6,"Between fri & sat")
print(days_of_week)

['Monday', 'Tuesday', 'Wedneday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'New day of week']

['Monday', 'Tuesday', 'Wedneday', 'Between wed & thu', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'New day of week']

['Monday', 'Tuesday', 'Wedneday', 'Between wed & thu', 'Thursday', 'Friday', 'Between fri & sat', 'Saturday', 'Sunday', 'New day of week']

In [10]:
popped = days_of_week.pop()
print(popped)
print(days_of_week)

New day of week
['Monday', 'Tuesday', 'Wedneday', 'Between wed & thu', 'Thursday', 'Friday', 'Between fri & sat', 'Saturday', 'Sunday']

In [11]:
print(days_of_week)

['Monday', 'Tuesday', 'Wedneday', 'Between wed & thu', 'Thursday', 'Friday', 'Between fri & sat', 'Saturday', 'Sunday']

In [12]:
del days_of_week[3]
print(days_of_week)

['Monday', 'Tuesday', 'Wedneday', 'Thursday', 'Friday', 'Between fri & sat', 'Saturday', 'Sunday']

In [14]:
popped = days_of_week.pop(5)
print(popped)
print(days_of_week)

Saturday
['Monday', 'Tuesday', 'Wedneday', 'Thursday', 'Friday', 'Sunday']

In [17]:
if "DEF" in phone_letters:
    print("E found")
else:
    print("Not found")

E found

In [5]:

print(phone_letters)

[' ', '', 'ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']

In [6]:
phone_letters = [' ', '', "ABC", "DEF", "GHI", "JKL", "MNO", "PQRS", "TUV", "WXYZ", "0"]

def let_to_num():
    letter = input("Enter any string: ")
    
    a = 0
    while a < 10:
        # While body
        if letter in phone_letters[a]:
            return a
        

        else:
            a = a + 1
            
    return ("Not Found")
    
    # Out of While body 
            
print(let_to_num())

Enter any string:
0

In [11]:
#using while
string = "ali"
while True:
    print(string[::-1])
    break

ila

In [18]:
# using pop()
popped = []
string = ["ali"]
popped = string.pop()
print(popped[::-1])

ila

In [24]:
# using insert
string = ["ali","bilal","hamza"]
rev_string = []
while len(string):
    rev = string.pop()
    rev_string.insert(0,rev)
print(rev_string)
print(rev)

['ali', 'bilal', 'hamza']
ali

In [22]:

some_numbers =[1,2,3,4,5,6,7,8,9,11,22,33,44,55,66,77]

rev_string = []

while len(some_numbers):
    rev = some_numbers.pop()
    rev_string.insert(15,rev)
print(rev)

print(some_numbers)
print(rev_string)

1
[]
[77, 66, 55, 44, 33, 22, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
some_numbers =[1,2,3,4,5,6,7,8,9,11,22,33,44,55,66,77]
len(some_numbers)

16

In [1]:
movies = ["Spiderman", "Superman", "Batman", "Antman"]
item = ""
for value in list:
    if item in movies:
        a= movies.find(item)
        movies[a] == item

TypeError: 'type' object is not iterable

In [5]:
fish_list = ["salmon", "cod"]
print("Look at my list of fish: " + str(fish_list))

def list_o_matic(fstring):
  if fstring == "":
    fstring = fish_list.pop()
    print(fstring.lower() + " popped from list")
    return fish_list.pop()
  elif fstring.lower() in fish_list:
    print(fstring.lower() + " has been removed from list")
    return fish_list.remove(fstring)
  else:
    print("1 instance of " + fstring.lower() + " appended to list")
    return fish_list.append(fstring)

while fish_list:
  new_fish = input("Enter any type of fish or Q to quit: ")
  if new_fish.upper() == "Q":
    print("Goodbye, and thanks for all the fish!")
    break
else:
    print("Look at my list of fish: " + str(fish_list))
    list_o_matic(new_fish)
    print(fish_list)
print("I have no fish. Goodbye!")

Look at my list of fish: ['salmon', 'cod']
Enter any type of fish or Q to quit: fish
Look at my list of fish: ['salmon', 'cod']
1 instance of fish appended to list
['salmon', 'cod', 'fish']
Enter any type of fish or Q to quit: fish
Look at my list of fish: ['salmon', 'cod', 'fish']
fish has been removed from list
['salmon', 'cod']
Enter any type of fish or Q to quit: cod
Look at my list of fish: ['salmon', 'cod']
cod has been removed from list
['salmon']
Enter any type of fish or Q to quit: salmon
Look at my list of fish: ['salmon']
salmon has been removed from list
[]
I have no fish. Goodbye!

SyntaxError: invalid syntax (<ipython-input-7-66f90c27191b>, line 23)

In [1]:
list = ["ali", "hamza", "bilal", "zahid", "aslam", "imtiaz"]
print("The original list: ", list)

def list_o_matic(item):
    
    if item == "":
        item = list.pop()
        print(item + " Popped from the list")
        print(list)
    
    elif item in list:
        list.remove(item)
        print(list)
    
    else:
        list.append(item)
        print(item.lower() + " have been appended at the end of list")
        
while list:
    new_item = input(print("Enter any name or write 'Q' to end: ")
    if new_item == "Q":
                     print("Good Bye! the list has ended")
                     break
                     
     else:
                     list_o_matic(new_item)
                     print(list)
                     break
                     
                     
                     
                     
    
    
                     
                     
                     
    
        
    
print("The list has no content remaing, the list is empty now...")

SyntaxError: invalid syntax (<ipython-input-1-3328c87448ca>, line 21)

In [8]:
list = ["ali", "hamza", "bilal", "zahid", "aslam", "imtiaz"]
print("The original list: ",list, "\n")
def list_o_matic():
    inp = input("Enter a name or 'quit' to end: ")
    for i in list:
        if i in list:
            list.pop()
        else:
            list.append(i)
    print(list)

The original list:  ['ali', 'hamza', 'bilal', 'zahid', 'aslam', 'imtiaz']

In [9]:
list_o_matic()

Enter a name or 'quit' to end: ali
['ali', 'hamza', 'bilal']

In [4]:
fish_list = ["salmon", "cod"]
print("Look at my list of fish: " + str(fish_list))

def list_o_matic(fstring):
  if fstring == "":
    fstring = fish_list.pop()
    print(fstring.lower() + " popped from list")
    return fish_list.pop()
  elif fstring.lower() in fish_list:
    print(fstring.lower() + " has been removed from list")
    return fish_list.remove(fstring)
  else:
    print("1 instance of " + fstring.lower() + " appended to list")
    return fish_list.append(fstring)

while fish_list:
    new_fish = input("Enter any type of fish or Q to quit: ")
    if new_fish.upper() == "Q":
        print("Goodbye, and thanks for all the fish!")
        break
    else:
        print("Look at my list of fish: " + str(fish_list))
        list_o_matic(new_fish)
        print(fish_list)
print("I have no fish. Goodbye!")

Look at my list of fish: ['salmon', 'cod']
Enter any type of fish or Q to quit: Ali
Look at my list of fish: ['salmon', 'cod']
1 instance of ali appended to list
['salmon', 'cod', 'Ali']
Enter any type of fish or Q to quit: COD
Look at my list of fish: ['salmon', 'cod', 'Ali']
cod has been removed from list

ValueError: list.remove(x): x not in list

In [1]:
animals = ["rabbit", "panther", "tiger", "Lion", "Zebra"]

def list_o_matic(inp):
            if inp == "":
                a = animals.pop()
                print(a, "has been popped from the list")
                return inp
            elif inp in animals:
                animals.remove(inp)
                print("'"+inp+"'", "has been removed from the list")
                return inp
            else:
                animals.append(inp)
                print("'"+inp+"'", "has been added to the list")
                return inp

while animals:
    print("look at all the animals: ", animals)
    inp = input("enter the name of an animal: ")
        
    if inp == "quit":
        print("Goodbye!")
        break
    else:
        list_o_matic(inp)

look at all the animals:  ['rabbit', 'panther', 'tiger', 'Lion', 'Zebra']
enter the name of an animal:
Zebra has been popped from the list
look at all the animals:  ['rabbit', 'panther', 'tiger', 'Lion']
enter the name of an animal:
Lion has been popped from the list
look at all the animals:  ['rabbit', 'panther', 'tiger']
enter the name of an animal:
tiger has been popped from the list
look at all the animals:  ['rabbit', 'panther']
enter the name of an animal:
panther has been popped from the list
look at all the animals:  ['rabbit']
enter the name of an animal:
rabbit has been popped from the list